<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="./style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap"
      rel="stylesheet"
    />
    <title><2048></title>
  </head>
  <body>
    <div id="app">
      <div v-if="showMessage" class="message">
        <div class="message__title">
          Вы уверены, что хотите начать новую игру?
        </div>
        <div class="message__button">
          <button v-on:click="rebootGame" class="message__yes">Да</button>
          <button v-on:click="this.showMessage = false" class="message__no">
            Нет
          </button>
        </div>
      </div>
      <div class="wrapper">
        <h1 class="title">2048</h1>
        <div class="management">
          <button v-on:click="stepBack" class="managment__back button"></button>
          <button
            v-on:click="this.showMessage = true"
            class="managment__reboot button"
          ></button>
        </div>
        <div class="score">
          <div class="score__item">Score: {{this.score}}</div>
        </div>
        <div class="game">
          <div class="game__table">
            <div
              v-bind:class="{value2:cell===2,
            value4:cell===4,
            value8:cell===8,
            value16:cell===16,
            value32:cell===32,
            value64:cell===64,
            value128:cell===128,
            value256:cell===256,
            value512:cell===512,
            value1024:cell===1024,
            value2048:cell===2048}"
              v-for="(cell, idx) in table"
              :key="idx"
              class="game__cell"
            >
              {{ cell }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script type="module" src="./index.js"></script>
  </body>
</html>
