@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap");

/* Указываем box sizing */
*,
  *: : before, *: : after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.wrapper {
  margin: 0 auto;
  max-width: 1080px;
  padding: 0px 15px;
  overflow: hidden;
  min-height: 100%;
  font-family: "DM Sans", sans-serif;
}

.title {
  font-size: 4em;
  text-align: center;
}

.management {
  display: flex;
  justify-content: center;
  margin: 0 0 15px 0;
}

.managment__back {
  background: url("/Image/back.png") 50% 50% no-repeat;
  margin: 0 20px 0 0;
}

.managment__reboot {
  background: url("/Image/reboot.png") 50% 50% no-repeat;
}

.button {
  background-size: contain;
  width: 50px;
  height: 50px;
  border: 0px;
  cursor: pointer;
}

.game {
  display: flex;
  justify-content: center;
}

.game__table {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-template-rows: repeat(4, 150px);
  grid-gap: 10px;
  border: 1px solid black;
  padding: 10px;
  background-color: #4a4444;
  border-radius: 1rem;
}

.game__cell {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  border: 1px solid black;
  background-color: #9e9d9d;
  border-radius: 1rem;
}

/*Значения*/

.value2 {
  background-color: #fffafa;
}
.value4 {
  background-color: #fcf9d7;
}
.value8 {
  background-color: #e1b55d;
}
.value16 {
  background-color: #db9442;
}
.value32 {
  background-color: #f24713;
}
.value64 {
  background-color: #eb2121;
}
.value128 {
  background-color: #f2ff66;
}
.value256 {
  background-color: #e5f53b;
}
.value512 {
  background-color: #8e9914;
}
.value1024 {
  background-color: #636b09;
}
.value2048 {
  background-color: #690404;
}
